USE [QuanLyCungCapVideo]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/19/2019 6:36:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[IDTK] [int] IDENTITY(1,1) NOT NULL,
	[TenND] [nvarchar](100) NULL,
	[MatKhau] [varchar](50) NULL,
	[DienThoai] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[IDQuyen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 6/19/2019 6:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[IDThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[HTTT] [nvarchar](50) NULL,
	[NgayTT] [datetime] NULL,
	[NgayKT] [datetime] NULL,
	[GoiCuoc] [nvarchar](100) NULL,
	[TenND] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 6/19/2019 6:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[IDTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTL] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VIDEO]    Script Date: 6/19/2019 6:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEO](
	[IDVideo] [int] IDENTITY(1,1) NOT NULL,
	[TenVideo] [nvarchar](100) NULL,
	[IDTL] [int] NULL,
	[QuocGia] [nvarchar](50) NULL,
	[DaoDien] [nvarchar](50) NULL,
	[LuotXem] [int] NULL,
	[LinkVideo] [nvarchar](500) NULL,
	[LinkPoster] [nvarchar](500) NULL,
	[TomTat] [nvarchar](1000) NULL,
 CONSTRAINT [PK_VIDEO] PRIMARY KEY CLUSTERED 
(
	[IDVideo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YEUTHICH]    Script Date: 6/19/2019 6:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEUTHICH](
	[IDYT] [int] IDENTITY(1,1) NOT NULL,
	[LinkVideo] [nvarchar](200) NULL,
	[LinkPoster] [nvarchar](200) NULL,
	[TenND] [nvarchar](100) NULL,
	[TenVideo] [nvarchar](100) NULL,
	[QuocGia] [nvarchar](50) NULL,
	[DaoDien] [nvarchar](50) NULL,
	[LuotXem] [int] NULL,
	[TomTat] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([IDTK], [TenND], [MatKhau], [DienThoai], [Email], [IDQuyen]) VALUES (1, N'admin', N'admin', N'555151', N'abc@gmail.com', N'Admin')
INSERT [dbo].[TAIKHOAN] ([IDTK], [TenND], [MatKhau], [DienThoai], [Email], [IDQuyen]) VALUES (2, N'staff', N'staff', N'651654646', N'b@gmail.com', N'User')
INSERT [dbo].[TAIKHOAN] ([IDTK], [TenND], [MatKhau], [DienThoai], [Email], [IDQuyen]) VALUES (32, N'abc', N'abcd1234', N'0123456789', N'a@gmail.com', N'User')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
SET IDENTITY_INSERT [dbo].[THANHTOAN] ON 

INSERT [dbo].[THANHTOAN] ([IDThanhToan], [HTTT], [NgayTT], [NgayKT], [GoiCuoc], [TenND]) VALUES (1, N'Credit Card ', CAST(N'2019-11-06 00:00:00.000' AS DateTime), CAST(N'2019-11-07 00:00:00.000' AS DateTime), N'Basic', N'staff')
INSERT [dbo].[THANHTOAN] ([IDThanhToan], [HTTT], [NgayTT], [NgayKT], [GoiCuoc], [TenND]) VALUES (3, N'MoMo', CAST(N'2019-06-14 23:01:30.903' AS DateTime), CAST(N'2019-07-14 23:01:30.903' AS DateTime), N'BASIC', N'dfsd')
INSERT [dbo].[THANHTOAN] ([IDThanhToan], [HTTT], [NgayTT], [NgayKT], [GoiCuoc], [TenND]) VALUES (4, N'Credit Card', CAST(N'2019-06-16 21:57:04.283' AS DateTime), CAST(N'2019-07-16 21:57:04.283' AS DateTime), N'BASIC', N'abc')
SET IDENTITY_INSERT [dbo].[THANHTOAN] OFF
SET IDENTITY_INSERT [dbo].[THELOAI] ON 

INSERT [dbo].[THELOAI] ([IDTL], [TenTL]) VALUES (1, N'Hành Động')
INSERT [dbo].[THELOAI] ([IDTL], [TenTL]) VALUES (2, N'Viễn Tưởng')
INSERT [dbo].[THELOAI] ([IDTL], [TenTL]) VALUES (3, N'Tình Cảm')
SET IDENTITY_INSERT [dbo].[THELOAI] OFF
SET IDENTITY_INSERT [dbo].[VIDEO] ON 

INSERT [dbo].[VIDEO] ([IDVideo], [TenVideo], [IDTL], [QuocGia], [DaoDien], [LuotXem], [LinkVideo], [LinkPoster], [TomTat]) VALUES (2, N'Chàng Ngố Tập Yêu', 3, N'Romania', N'Cristina Jacob', 1235, N'C:\Users\Uyen\Desktop\QuanLyCungCapVideo\QuanLyCungCapVideo\video\changngotapyeu.mp4', N'C:\Users\Uyen\Desktop\QuanLyCungCapVideo\QuanLyCungCapVideo\image\2.jpg', N'309 p')
INSERT [dbo].[VIDEO] ([IDVideo], [TenVideo], [IDTL], [QuocGia], [DaoDien], [LuotXem], [LinkVideo], [LinkPoster], [TomTat]) VALUES (3, N'Luôn Luôn Có Thể', 3, N'Mỹ', N'Nahnatchka Khan', 1452, N'C:\Users\Uyen\Desktop\QuanLyCungCapVideo\QuanLyCungCapVideo\video\luonluoncothe.mp4', N'C:\Users\Uyen\Desktop\QuanLyCungCapVideo\QuanLyCungCapVideo\image\1.jpg', N'303 p')
SET IDENTITY_INSERT [dbo].[VIDEO] OFF
SET IDENTITY_INSERT [dbo].[YEUTHICH] ON 

INSERT [dbo].[YEUTHICH] ([IDYT], [LinkVideo], [LinkPoster], [TenND], [TenVideo], [QuocGia], [DaoDien], [LuotXem], [TomTat]) VALUES (3, N'C:\Users\Uyen\Desktop\QuanLyCungCapVideo\QuanLyCungCapVideo\video\dr. strange\-Phù Thủy Tối Thượng-Doctor Strange (2016) [Full-Vietsub].mp4', N'C:\Users\Uyen\Desktop\QuanLyCungCapVideo\QuanLyCungCapVideo\image\doctorstrange.jpg', N'staff', NULL, NULL, NULL, 13, NULL)
INSERT [dbo].[YEUTHICH] ([IDYT], [LinkVideo], [LinkPoster], [TenND], [TenVideo], [QuocGia], [DaoDien], [LuotXem], [TomTat]) VALUES (4, N'C:\Users\Uyen\Desktop\QuanLyCungCapVideo\QuanLyCungCapVideo\video\fbawtft\Sinh Vật Huyền Bí và Nơi Tìm Ra Chúng-Fantastic Beasts and Where to Find Them (2016) [Full HD-Vietsub] (Xem Full).mp4', N'C:\Users\Uyen\Desktop\QuanLyCungCapVideo\QuanLyCungCapVideo\image\fbawtoft.jpg', N'staff', NULL, NULL, NULL, 12, NULL)
INSERT [dbo].[YEUTHICH] ([IDYT], [LinkVideo], [LinkPoster], [TenND], [TenVideo], [QuocGia], [DaoDien], [LuotXem], [TomTat]) VALUES (6, N'C:\Users\Uyen\Desktop\QuanLyCungCapVideo\QuanLyCungCapVideo\video\marvel\captian america\-Captain America 2- Chiến Binh Mùa Đông-Captain America 2- The Winter Soldier (2014) [HD-Vietsub].mp4', N'C:\Users\Uyen\Desktop\QuanLyCungCapVideo\QuanLyCungCapVideo\image\cap 2.jpg', N'staff', NULL, NULL, NULL, 45, NULL)
SET IDENTITY_INSERT [dbo].[YEUTHICH] OFF
ALTER TABLE [dbo].[VIDEO]  WITH CHECK ADD  CONSTRAINT [FK_VD_TL] FOREIGN KEY([IDTL])
REFERENCES [dbo].[THELOAI] ([IDTL])
GO
ALTER TABLE [dbo].[VIDEO] CHECK CONSTRAINT [FK_VD_TL]
GO
