USE [master]
GO
CREATE DATABASE [QuanLyCungCapVideo]
GO
USE [QuanLyCungCapVideo]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 6/5/2019 12:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[IDDV] [varchar](10) NOT NULL,
	[TenDV] [varchar](50) NULL,
	[GiaTien] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 6/5/2019 12:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUYEN](
	[IDQuyen] [int] NOT NULL,
	[Quyen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/5/2019 12:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[IDTK] [varchar](10) NOT NULL,
	[TenND] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[DienThoai] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[IDQuyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 6/5/2019 12:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[IDThanhToan] [varchar](10) NOT NULL,
	[IDTK] [varchar](10) NULL,
	[IDDV] [varchar](10) NULL,
	[HTTT] [varchar](50) NULL,
	[NgayTT] [datetime] NULL,
	[NgayKT] [datetime] NULL,
	[GiaTien] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 6/5/2019 12:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THELOAI](
	[IDTL] [varchar](10) NOT NULL,
	[TenTL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VIDEO]    Script Date: 6/5/2019 12:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VIDEO](
	[IDVideo] [varchar](10) NOT NULL,
	[TenVideo] [varchar](50) NULL,
	[IDTL] [varchar](10) NULL,
	[QuocGia] [varchar](50) NULL,
	[ThoiLuong] [varchar](30) NULL,
	[DaoDien] [varchar](50) NULL,
	[LuotXem] [int] NULL,
	[LinkVideo] [varchar](50) NOT NULL,
	[LinkPoster] [varchar](50) NULL,
 CONSTRAINT [VIDEO_pk] PRIMARY KEY CLUSTERED 
(
	[IDVideo] ASC,
	[LinkVideo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YEUTHICH]    Script Date: 6/5/2019 12:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YEUTHICH](
	[IDYT] [varchar](10) NOT NULL,
	[IDTK] [varchar](10) NULL,
	[LinkVideo] [varchar](50) NULL,
	[LinkPoster] [varchar](50) NULL,
	[IDVideo] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[QUYEN] ([IDQuyen], [Quyen]) VALUES (1, N'admin')
GO
INSERT [dbo].[QUYEN] ([IDQuyen], [Quyen]) VALUES (2, N'staff')
GO
INSERT [dbo].[TAIKHOAN] ([IDTK], [TenND], [MatKhau], [DienThoai], [Email], [IDQuyen]) VALUES (N'1', N'admin', N'admin', N'555151', N'a@gmail.com', 1)
GO
INSERT [dbo].[TAIKHOAN] ([IDTK], [TenND], [MatKhau], [DienThoai], [Email], [IDQuyen]) VALUES (N'2', N'staff', N'staff', N'651654646', N'b@gmail.com', 2)
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_Q] FOREIGN KEY([IDQuyen])
REFERENCES [dbo].[QUYEN] ([IDQuyen])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_Q]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_TT_DV] FOREIGN KEY([IDDV])
REFERENCES [dbo].[DICHVU] ([IDDV])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_TT_DV]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_TT_TK] FOREIGN KEY([IDTK])
REFERENCES [dbo].[TAIKHOAN] ([IDTK])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_TT_TK]
GO
ALTER TABLE [dbo].[VIDEO]  WITH CHECK ADD  CONSTRAINT [FK_VD_TL] FOREIGN KEY([IDTL])
REFERENCES [dbo].[THELOAI] ([IDTL])
GO
ALTER TABLE [dbo].[VIDEO] CHECK CONSTRAINT [FK_VD_TL]
GO
ALTER TABLE [dbo].[YEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_YEUTHICH_VIDEO] FOREIGN KEY([IDVideo], [LinkVideo])
REFERENCES [dbo].[VIDEO] ([IDVideo], [LinkVideo])
GO
ALTER TABLE [dbo].[YEUTHICH] CHECK CONSTRAINT [FK_YEUTHICH_VIDEO]
GO
ALTER TABLE [dbo].[YEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_YT_TK] FOREIGN KEY([IDTK])
REFERENCES [dbo].[TAIKHOAN] ([IDTK])
GO
ALTER TABLE [dbo].[YEUTHICH] CHECK CONSTRAINT [FK_YT_TK]
GO
USE [master]
GO
